/* Inter Regular (Body Text - Regular) */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

.webgl {
    display: block;
    background: transparent;
}

/* Ensure that body and html elements fill the viewport */
html, body {
    background-color: black !important;
    margin: 0;
    overflow: hidden;
}

/* Style the canvas for full transparency */
canvas.webgl {
    display: block;
    background: transparent;
}


.orbit-container {
  position: relative;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit-dot {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  background-color: var(--color2);
  border-radius: 50%;
  animation: orbit 1.8s linear infinite;
}

@keyframes orbit {
  0% { transform: rotate(0deg) translateX(5vw) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(5vw) rotate(-360deg); }
}

.loading-text {
  font-size: clamp(16px, 2.5vw, 32px); /* Min: 16px, Preferred: 2.5vw, Max: 32px */
  font-weight: bold;
  max-width: 90%;
  text-align: center;
  min-height: 3vh;
  max-height: 6vh;
}
